<header></header>
<div *ngIf="user" class="action-buttons">
  <button mat-raised-button color="primary"
          (click)="openDialog()"
          class="job">Create job</button>
  <button mat-raised-button color="primary" *ngIf="user.role === 'admin'" (click)="signUp()">Add employee</button>
  <!--<button mat-raised-button color="primary" (click)="openJobsForApproval()">View active jobs</button>-->
  <button mat-raised-button color="primary" (click)="openHistory()">View job history</button>

</div>

<warehouses *ngIf="user && token" [token]="token" (warehousesOutput)="setWarehouses($event)"></warehouses>
