.view-job-history{
  .header{
    display: flex;
    justify-content: space-between;
    p{
      text-align: center;
      width: 100%;
      font-weight: bold;
      border: 1px solid black;
      padding: 10px;


    }

  }
}
