.view-job-history{
  .holder{
    max-height: 500px;
    overflow-y: scroll;

  }
  .header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    padding: 10px;
    margin-right: 5px;
    .column{
      display: flex;
      width: auto;
      //border: 1px solid black;
      //padding: 0 10px;
      p{
        margin: 0;
      }

    }
    &.active{
      cursor: pointer;
      &:hover{
        background: #e2e2e2;
      }
    };

    //p{
    //  text-align: center;
    //  width: 100%;
    //  font-weight: bold;
    //  padding: 10px;
    //
    //
    //}

  }
  .button-btn{
    display: block;
    margin: 50px auto 0 auto;
  }
}
