.warehouses{
  padding: 40px 40px;
  display: flex;
  justify-content: space-between;
    .warehouse-column{
      width: 100%;
      padding: 10px;
      box-shadow: 2px 4px 2px 2px #ccc;
      margin-right: 40px;
      .header{
        background: #e2e2e2;
        padding: 10px;
        p{
          margin: 0;
        }
      }
      .body{
        padding: 10px;
        display: flex;
        justify-content: space-between;
        background: #f4f4f4;
        p{
          margin: 0;
        }
      }
      .row{
        display: flex;
        justify-content: space-between;
        padding: 10px;
        border-bottom: 1px solid #e2e2e2;
        p{
          margin: 0;
        }
        .footer{

        }
        &.red{
          background: #ff2133;
        }
        &.green{
          background: #72ff6a;

        }
      }
    }
    .title{
      font-weight: bold;
      margin: 0;
    }

}
