<div class="sign-up dialog">
  <h1>Login</h1>
  <form class="sign-up--form dialog--form" #loginForm="ngForm" (ngSubmit)="loginUser()">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="e-mail" #mailInput="ngModel" [(ngModel)]="login.mail" name="mailInput"
             required
             pattern='^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$'>
      <!--errors-->
      <div *ngIf="mailInput.touched && mailInput.errors">
        <mat-error *ngIf="mailInput.errors['required']">
          mail name is required
        </mat-error>
        <mat-error *ngIf="mailInput.errors['pattern']">
          mail has invalid format
        </mat-error>
      </div>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="password" #passwordInput="ngModel" [(ngModel)]="login.password" name="passwordInput"
             type="password"
             required
             minlength="6">
      <!--errors-->
      <div *ngIf="passwordInput.touched && passwordInput.errors">
        <mat-error *ngIf="passwordInput.errors['required']">
          Password name is required
        </mat-error>
        <mat-error *ngIf="passwordInput.errors['minlength']">
          Password should be at least 6 characters long
        </mat-error>
      </div>
    </mat-form-field>

    <button mat-raised-button color="primary" [disabled]="!loginForm.valid">Login</button>

  </form>
</div>
